In [9]:
import pandas as pd

from sklearn.model_selection import LogisticRegression

ImportError: cannot import name 'LogisticRegression' from 'sklearn.model_selection' (C:\Users\shish\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\__init__.py)

In [5]:
df=pd.read_csv(r"C:\python code\machine learning\17_l1&l2_regularization\Melbourne_housing_FULL.csv")
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [13]:
df.drop(['Date','CouncilArea','Lattitude','Longtitude','Regionname',	],axis=1,inplace=True)

KeyError: "['Date', 'CouncilArea', 'Lattitude', 'Longtitude', 'Regionname'] not found in axis"

In [14]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,2.5,3067.0,2.0,1.0,1.0,126.0,NaN,NaN,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,2.5,3067.0,3.0,2.0,1.0,0.0,NaN,NaN,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,4019.0

In [15]:
df.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
Propertycount        3
dtype: int64

In [32]:
property_here=['Propertycount','Distance','Bathroom','Bedroom2', 'Car']
df[property_here]=df[property_here].fillna(0)
df

       Propertycount  Distance  Bathroom  Bedroom2  Car
0             4019.0       2.5       1.0       2.0  1.0
1             4019.0       2.5       1.0       2.0  1.0
2             4019.0       2.5       1.0       2.0  0.0
3             4019.0       2.5       2.0       3.0  1.0
4             4019.0       2.5       2.0       3.0  0.0
...              ...       ...       ...       ...  ...
34852         6543.0       6.3       1.0       4.0  3.0
34853         6543.0       6.3       2.0       2.0  1.0
34854         6543.0       6.3       1.0       2.0  2.0
34855         6543.0       6.3       0.0       0.0  0.0
34856         6543.0       6.3       1.0       2.0  0.0

[34857 rows x 5 columns]

In [29]:
df.isna().sum()

Propertycount    0
Distance         0
Bathroom         0
Bedroom2         0
Car              0
dtype: int64